.header-container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.add-route-link {
  margin-right: 20px;
}

.add-new-route {
  display: inline-block;
  margin-right: 20px;
}
