.button-table  {
  margin-right: 5px;
}

thead {
  border-bottom: 1px solid #dee1e6;
}

#title {
  color: #364862;
  border: none;
  background: none;
  font-size: 24px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #364862;
  }
}
