@import '~antd/dist/antd.css';

.App {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  padding: 40px;
  color: #364862;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: #f4f5f7;
}
thead > tr:hover {
  background-color: none;
}

.table-row {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd
}
